<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="/img/logo_ikm.jpg" alt="logo_IKM">
        </a>
        <nav>
            <ul>
                <li><a href="/">
                    <i class="bi bi-house"></i>Inicio
                </a></li>
                <li class="active"><a href="/about">
                    <i class="bi bi-building-fill"></i>Nosotros
                </a></li>
                <li><a href="/services">
                    <i class="bi bi-briefcase-fill"></i>Servicios
                </a></li>
                <li><a href="/product">
                    <i class="bi bi-wrench-adjustable"></i>Producto
                </a></li>
                <li><a href="/brands">
                    <i class="bi bi-shield-fill"></i>Marcas
                </a></li>
                <li><a href="/team">
                    <i class="bi bi-person-fill"></i>Equipo
                </a></li>
                <li><a href="/contact">
                    <i class="bi bi-journal-text"></i>Contáctanos
                </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bienvenido desde Nosotros</h1>
    </main>
</body>
</html>