*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background: linear-gradient(170deg, #134c8e, #2575d1, #1b5ca7);
    width: 100%;
    height: 10vh;
    display: flex;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 80%;
}

nav {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

nav ul li.active a {
    color: #f9d134;
    font-size: 17px;
}

nav ul li a {
    color: #fff;
    display: flex;
    gap: 5px;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.4s ease;
}

nav ul li a:hover {
    color: #f9d134;
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    margin-top: 30px;
}

main h2 {
    margin-top: 30px;
    text-transform: uppercase;
}

main span {
    width: 60px;
    height: 5px;
    background-color: #cf1111;
    border-radius: 3px;
}

main .contain {
    width: 70%;
    height: 70vh;
    display: flex;
    gap: 10px;
}

main .contain img {
    width: 50%;
    height: 100%;
}

main .contain form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main .contain form input {
    width: 90%;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px #000;
}

main .contain form textarea {
    width: 90%;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 5px;
}

main .contain form button {
    width: 30%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #d73131;
    color: #fff;
    cursor: pointer;
}